.icon-img {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	min-width: 60px;
	border-radius: 20px;	
}
.grid {
	background-color: #0a9d7a1a;
}
.audit {
	background-color: #fd5e1a1a;
}
.code {
	background-color: #00b4d81a;
}
.settings {
	background-color: #3066be1a;
}
.config {
	background-color: #3572661a;
}
.hook {
	background-color: #f4be2c1a;
}
.account {
	background-color: #724e911a;
}
.entity {
	background-color: #00b4d81a;
}
.service {
	background-color: #e03b8b1a;
}
.survey {
	background-color: #3066be1a;
}
.TwoFA {
	background-color: #0a9d7a1a;
}