body {
  background-color: #f3f5f8;
  color: #212529;
}

.container-cls {
	width: calc(100% - 3em);
}

.white-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.font-weight-500 {
  font-weight: 500;
}

.h-50px {
  height: 50px;
}

.blue-btn {
	background-color: #e3ebf8;
    color: #518ef8;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #518ef8;
}

.blue-box {
  background-color: #eef4fe;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #518ef8;
    margin-bottom: 20px;
}

.text-blue {
	color: #518EF8;
}

.green-btn {
  background-color: #1ac29a !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content {
  border-radius: 15px;
  border: none;
}

.cursor-pointer{
  cursor: pointer;
}
