body {
  background-color: #f3f5f8;
  color: #212529;
}

.container-cls {
	width: calc(100% - 3em);
}

.white-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}
